//Website Colors
@primary-color: @red;
@secondary-color: @black;
@background-color: @lightgrey;

//Colors -- variables
@white: #ffffff;
@red: #990000;
@lightred: lighten(@red, 20%);
@black: #000000;
@grey: #cccccc;
@lightgrey: lighten(@grey, 30%);
@darkgrey: darken(@grey, 40%);

// Mixins
.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.bg {
	padding: 30px 0;
}