@import url(imports.less);

body {
	background-color: @lightgrey;
}

.header {
	.make-row();
	margin: 0;
	.info {
		.make-sm-column(11);
		.make-sm-column-offset(1);
		.make-md-column(11);
		.make-md-column-offset(1);
		.make-lg-column(11);
		.make-lg-column-offset(1);
		background: @grey;
		p {
			float: left;
			padding-top: 5px;
			b {
				text-transform: uppercase;
			}
		}
		.social-media {
			float: right;
		}		
	}
}

.title {
	.make-row();
	margin: 10px 0;
	h1 {
		.make-sm-column(5);
		.make-md-column(5);
		.make-lg-column(5);
		margin: 0;
		padding-left: 0 !important;
		text-transform: uppercase;
		font-style: italic;
		font-weight: bolder;
		color:  @darkgrey;
		padding-top: 10px;
		span {
			color: @primary-color;
		}
	}
	img {
		.make-sm-column(1);
		.make-sm-column-offset(6);
		.make-md-column(1);
		.make-md-column-offset(6);
		.make-lg-column(1);
		.make-lg-column-offset(6);
		padding-right: 0 !important;
	}
}

nav {
	.make-row();
	background: @primary-color;
	text-align: center;
	ul {
		margin-bottom: 0;
		border-top: 1px solid @black;
		border-bottom: 1px solid @black;
		li {
			display: inline-block;
			border-left: 1px solid @black;
			border-right: 1px solid @black;
			margin-left: -5px;
			a {
				display: block;
				color: @white;
				padding: 10px 20px;
				&:hover{
					background: @grey;
				}
			}
		}
	}
}

.slider {
	.make-row();
	position: relative;
	background: @black;
	img {
		.center;
	}
	.slide-pagination {
		position: absolute;
		right: 300px;
		bottom: 0;
		li {
			list-style: none;
			display: inline-block;
			a {
				  -webkit-border-radius: 24px; 
				  -moz-border-radius: 24px; 
				  border-radius: 24px; 
				  background: @lightred;
				  padding: 3px 7px;
				  color: @white;
				  opacity: 0.3;
				  &:hover {
				  	opacity: 1;
				  }
			}
		}
	}
}

.cta {
	.make-row();
	background: @grey;
	ul {
		.make-sm-column(8);
		.make-sm-column-offset(2);
		.make-md-column(8);
		.make-md-column-offset(2);
		.make-lg-column(8);
		.make-lg-column-offset(2);
		margin: 10px 0;
		li {
			.make-sm-column(3,0);
			.make-md-column(3,0);
			.make-lg-column(3,0);
			display: inline-block;
			height: 125px;
			background-image: url(http://placehold.it/235x125/ffffff/@lightprimary-color);
			div {
				position: absolute;
				left: 5px;
				right: 5px;
				bottom: 10px;
				background: @primary-color;
				padding: 5px;
				a {
					color: @white;
					b {
						text-transform: uppercase;
					}
					&:hover {
						color: @grey;
					}
				}
			}
		}
	}

}

.featured {
	.make-row();
	text-transform: uppercase;
	margin: 20px 0 10px 0;
	h3 {
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(4);
		color: @primary-color;
		margin: 0;
	}
	a {
		.make-sm-column(3);
		.make-sm-column-offset(5);
		.make-md-column(3);
		.make-md-column-offset(5);
		.make-lg-column(3);
		.make-lg-column-offset(5);
		color: @primary-color;
		text-align: right;
		&:hover {
			color: @black;
		}
	}
}

.featured-div {
	.make-row();
	background: @black;
	margin: 0;
	.featured-slider {
		.make-sm-column(12);
		.make-md-column(12);
		.make-lg-column(12);
		.make-row();
		padding: 10px 0;
		ul {
			.slide {
				list-style: none;
				.make-sm-column(4,100px);
				.make-md-column(4,100px);
				.make-lg-column(4,100px);
				img {
					float: left;
				}
				.slide-info {
					color: @white;
					float: right;
					a {
						.btn;
						background: @white;
						color: @primary-color;
					}
				}
			}
		}
	}
}

.main {
	.make-row();
	margin: 20px 0 10px 0;
	h1 {
		color: @primary-color;
	}
	.content {
		.make-sm-column(8);
		.make-md-column(8);
		.make-lg-column(8);
		padding-left: 0 !important;
		h1 {
			font-size: 2em;
		}
		h2 {
			font-size: 1.3em;
		}
		h3 {
			font-size: 1.2em;
		}
	}
	.sidebar {
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(4);
		padding-right: 0 !important;
		h1 {
			text-transform: uppercase;
			font-size: 1.5em;
		}
		img {
			margin-bottom: 5px;
		}
		.specials-btn {
			.btn;
			background: @primary-color;
			width: 100%;
			color: @white;
			text-transform: uppercase;
			text-align: left;
			&:hover {
				background: @grey;
			}
		}
	}
}

footer {
	.make-row();
	background: @darkgrey;
	margin: 0;
	h1 {
		color: @white;
	}
	.sitemap {
		.make-sm-column(8);
		.make-md-column(8);
		.make-lg-column(8);
		.make-row();
		div {
			padding-left: 0 !important;
			.make-sm-column(3);
			.make-md-column(3);
			.make-lg-column(3);
			ul {
				padding-left: 0;
				li {
					list-style: none;
					&:first-child a {
						text-transform: uppercase;
						color: @white;
					}				
					a {
						color: @grey;
						font-size: 0.8em;
						&:hover {
							color: @primary-color;
						}
					}
				}
			}
		}
	}
	.contact {
		.make-sm-column(4,0);
		.make-md-column(4,0);
		.make-lg-column(4,0);
		float: right !important;
		text-align: right;
		p {
			color: @grey;
			b, a {
				color: @white;
			}
			a {
				&:hover {
					color: @primary-color;
				}				
			}
		}
	}
}
